################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dtbcache
*.suo
.vs
obj
bin/Debug
netcoreapp2.1
bin

