################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dtbcache
/.vs/Protocol/v15/Server/sqlite3
/HostApp/obj
/Protocol/bin/Debug
/Protocol/obj
/Protocol.Abstractions/bin/Debug/netcoreapp2.1
/Protocol.Abstractions/obj
/Protocol.NATS/bin/Debug/netcoreapp2.1
/Protocol.NATS/obj/Debug/netcoreapp2.1
/Protocol.NATS/obj
/HostApp/bin/Debug/netcoreapp2.1
